.footer {
  width: 100%;
  height: 50vh;
  background-color: #21202b;
  max-height: 400px;
  margin-top: 2rem;
  align-items: center;
}

.footer_content {
  width: 95%;
  margin: auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 2;
  color: white;
  margin-bottom: 2.5rem;
}

.footer_content h1 {
  font-weight: 700;
  font-size: 33px;
}

.footer_content h3 {
  font-weight: 700;
  font-size: 19px;
}

.contact {
  width: 22%;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials_icon {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.line {
  width: 90%;
  margin: auto;
}

.copyright {
  text-align: center;
  color: white;
  padding-top: 9px;
  font-size: 1.3rem;
}

@media (max-width: 960px) {
  .footer {
    height: fit-content;
    max-height: fit-content;
    margin-bottom: 0;
  }

  .footer_content {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .socials {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .footer {
    padding: 15px;
  }
  .logo {
    display: block;
  }
  .footer_content {
    flex-direction: column;
  }
  .footer_content div {
    margin: 1rem 0;
  }

  .socials {
    width: 30%;
  }

  .contact {
    width: 30%;
  }
}
