@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  max-width: 1600px;
  margin: auto;
  font-family: "Raleway", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}

h2 {
  color: rgb(61, 61, 61);
}

p {
  font-size: 17px;
}
