.hero_container {
  width: 100%;
  height: 90vh;
  max-height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/images/church-of-the-king-j9jZSqfH5YI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
}

.texts {
  color: white;
  margin-left: 1.5rem;
}

.span {
  color: #ee9b57;
}

.description {
  font-size: 1.3rem;
}

.heading {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: white;
}

.first_section {
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 4rem;
}

.small_heading {
  color: #ee9b57;
  font-size: 2rem;
}

.line {
  height: 5px;
  width: 40px;
  background-color: #ee9b57;
  border-radius: 5px;
  margin: 2rem auto;
}

.second_section {
  display: flex;
  max-width: 85%;
  margin: 7rem auto;
}

.second_section_text {
  margin: 7rem auto;
  max-width: 45%;
  line-height: 1.5;
  padding: 0.5rem;
}

.img {
  width: 550px;
  height: 450px;
}

.button {
  cursor: pointer;
  margin-top: 1rem;
  width: 140px;
  display: flex;
  color: #ee9b57;
  justify-content: space-between;
  align-items: center;
  font-size: 1.11rem;
}

.third_section {
  max-width: 88%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
}

.third_section div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  text-align: center;
}

.third_section div:hover {
  transform: scale(1.1);
  transition: 1s;
}

.third_section .figures {
  color: #ee9b57;
  font-size: 3.5rem;
}

@media (max-width: 960px) {
  .second_section {
    flex-direction: column-reverse;
    margin: 2rem auto;
  }

  .second_section_text {
    max-width: 80%;
  }

  .second_section .img {
    width: 100%;
    margin: auto;
  }

  .third_section {
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .first_section {
    width: 99%;
  }

  .large_heading {
    font-size: 1.5rem;
  }
  .second_section_text {
    max-width: 100%;
  }
  .third_section {
    flex-direction: column;
    width: 90%;
  }

  .third_section div {
    margin: 1rem 0;
  }
}
